@tailwind base;
@tailwind components;
@tailwind utilities;

/* From Uiverse.io by G4b413l */ 
.jelly {
  --uib-size: 50px;
  --uib-speed: .8s;
  --uib-color: #9036c8;
  position: relative;
  height: calc(var(--uib-size) / 2);
  width: var(--uib-size);
  filter: url('#uib-jelly-ooze');
  animation: rotate72317 calc(var(--uib-speed) * 2) linear infinite;
 }
 
 .jelly::before,
 .jelly::after {
  content: '';
  position: absolute;
  top: 0%;
  left: 25%;
  width: 50%;
  height: 100%;
  background: var(--uib-color);
  border-radius: 100%;
 }
 
 .jelly::before {
  animation: shift-left var(--uib-speed) ease infinite;
 }
 
 .jelly::after {
  animation: shift-right var(--uib-speed) ease infinite;
 }
 
 .jelly-maker {
  width: 0;
  height: 0;
  position: absolute;
 }
 
 @keyframes rotate72317 {
  0%,
   49.999%,
   100% {
   transform: none;
  }
 
  50%,
   99.999% {
   transform: rotate(90deg);
  }
 }
 
 @keyframes shift-left {
  0%,
   100% {
   transform: translateX(0%);
  }
 
  50% {
   transform: scale(0.65) translateX(-75%);
  }
 }
 
 @keyframes shift-right {
  0%,
   100% {
   transform: translateX(0%);
  }
 
  50% {
   transform: scale(0.65) translateX(75%);
  }
 }
 
.card {
  overflow: hidden;
  position: relative;
  gap: 0.75rem;
  padding: 1rem;
  height: max-content;
  background-color: #14141c;
}

.card .title {
  font-size: 1rem;
  color: #ebebeb;
  font-weight: 600;
}

.card .pricing {
  font-size: 1.5rem;
  color: #ebebeb;
  font-weight: 600;
}

.card .pricing .pricing-time,
.card .sub-title {
  font-size: 0.75rem;
  font-weight: 500;
}

.card .list {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: 0.75rem;
  color: #ebebeb;
  font-weight: 500;
  list-style: none;
}

.card .list .list-item .check {
  margin-right: 0.25rem;
  font-size: 1rem;
  color: rgb(199, 95, 228);
  font-weight: 900;
}
 /* post Loader */
.loader {
  color: #9b4dca;
  font-size: 35px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  transform: translateZ(0);
  animation: mltShdSpin 1.7s infinite ease, round 1.7s infinite ease;
}

@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em,
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 
    0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, 
    -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, 
    -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
     -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, 
     -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
     -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, 
     -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 
    0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}

@keyframes round {
  0% { transform: rotate(0deg) }
  100% { transform: rotate(360deg) }
}
 